.title{

    text-align: center;
    background-color: ;
    color: black;

}a{
  text-decoration: none;
  color: black;}

a:hover{
color: #2e382e;
}
.prince_studio{
  float: left;
   position: absolute;
   padding-top: 5px;
}
.body_background{
  background-color: #ccffff;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menubar{
  float: left;
  padding-right: 30px
}

.btn{
  padding: 10px 10px;
  color:grey;
  padding: 5px 4px;
  text-align: center;
  border: 1px solid black;
}
.btn:hover{
  color: black;
}
