
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@font-face {
font-family: Title;
src: url(fonts/headings.ttf);
}
@font-face {
font-family: Footer;
src: url(fonts/Footerfont.ttf);
}
@font-face {
font-family: Tagline;
src: url(fonts/Taglinefont.ttf);
}
@font-face {
font-family: Content;
src: url(fonts/Contentfont.ttf);
}
* {
font-family: Content;
}
body {
background-color: #f2f2f2;
}
p {
font-family: Content;
font-size: 20px;
font-weight: normal;
}
h2, h3 {
	font-family: Title;
}
a{
 text-decoration: none;
 color: black;
}

.Heading {
color: white;
font-family: Tagline;
padding-left: 20px;
font-size: 20px;
}
label {
color: black;
font-size: 18px;
font-family: Content;
}
i {
color: grey;
}
.btn {
font-size: 15px;
font-family: Tagline;
background-color: white;
color: black;
border: 2px solid #555555;
}
.btn:hover {
font-size: 15px;
font-family: Tagline;
background-color: #555555;
color: white;
}
input[type=text] {
width: 300px;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
background: transparent;
border: 2px solid grey;
border-radius: 6px;
font-family: Content;
}
input[type=text]:focus{
border-color: lightgrey;
}

.mycontainer {
border: 1px solid #DDDDDD;
width: 250px;
height: 250px;
position: relative;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.square {
width: 100%;
padding-bottom: 100%;
background-size: cover;
background-position: center;
}

.moviename {
width: 100%;
text-align: center;
position: absolute;
bottom: 0px;
background-color: rgba(255,255,255,1);
padding: 10px;
color: black;
font-size: 22px;
}

.col-md-3 {
margin-top: 15px;
margin-bottom: 15px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 50px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}